@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  font-size: 16px;
}
.container {
    position: relative;
  display: flex;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 15px;
}
.container .image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
}
body::after {
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -1;
  opacity: 0.2;
}
.container h2 {
  font-size: 3.75rem;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}
.container p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}
.container .time-content {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  margin: 10px auto;
  border: 1px solid white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(250, 250, 250, 0.2);
  max-width: 550px;
}
.time-content .time {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.time .number {
  font-weight: 800;
  font-size: 5rem;
  line-height: 1;
  color: #eee;
}
.time .text {
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}
.time-content > * {
  min-width: 6.875rem;
}
.contact-wrapper {
    max-width: 500px;
    margin: 10px auto;
}
.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;
}
.icon-wrapper a {
    max-width: 50px;
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
.icon-wrapper a:hover img {
    transform: scale(1.4);
}
.icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .3s ease-in-out;
}
@media screen and (max-width: 575px) {
  .container h2 {
    font-size: 2.5rem;
  }
  html,
  body {
    font-size: 14px;
  }
  .time .number {
    font-size: 3.5rem;
  }
  .time-content > * {
    min-width: 4.875rem;
  }
}
